<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="AuthorizationServiceAUDIUSV5_2PortBinding TestSuite" id="0a625162-2cc9-4895-8ae5-1a27a249fcc8" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7f1496ab-b96a-4a32-8d0f-c8e4811ef76efileName">AuthorizationServiceAUDIUSV5_2PortBinding-TestSuite</con:setting><con:setting id="0a625162-2cc9-4895-8ae5-1a27a249fcc8fileName">AuthorizationServiceAUDIUSV5_2PortBinding-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>AccountId</con:name><con:value>100145246</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="3801e45a-ec31-4686-9cbf-01651b8a4315"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="6b0cf27d-4452-476c-b08b-8662a8c7e039"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>