<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="AuthenticateV5.2 TestSuite" id="a8b228cb-c172-4997-917e-a72b6915f83f" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [AuthenticateV5.2]</con:description><con:settings><con:setting id="cdee4d40-27fc-45b3-98ac-6a2837debd24fileName">AuthenticateV5.2-TestSuite</con:setting><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting><con:setting id="GeneratableJUnitReport@Folder">C:\Users\rvishnu.PKRMSEZDC\Desktop\Mercedez ME</con:setting><con:setting id="a8b228cb-c172-4997-917e-a72b6915f83ffileName">AuthenticateV5.2-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>