<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" wadlVersion="http://wadl.dev.java.net/2009/02" name="AuthenticateV5.2" type="rest" id="329675e5-09b9-45d2-9661-938ef2cdc575" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bc460c1d-b53f-4efb-9556-5b7ab6709ae6fileName">AuthenticateV5.2</con:setting><con:setting id="329675e5-09b9-45d2-9661-938ef2cdc575fileName">AuthenticateV5.2</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api-test.vtitel.net</con:endpoint></con:endpoints></con:interface>