<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="AccountDetailsServiceV5_0SoapBinding TestSuite" id="cf517c94-a164-449b-a650-d15d09a2753f" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4b014f55-7ad7-48aa-98a6-5159cf248686fileName">AccountDetailsServiceV5_0SoapBinding-TestSuite</con:setting><con:setting id="cf517c94-a164-449b-a650-d15d09a2753ffileName">AccountDetailsServiceV5_0SoapBinding-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="3801e45a-ec31-4686-9cbf-01651b8a4315"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="6b0cf27d-4452-476c-b08b-8662a8c7e039"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>