<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="AddressServiceV5_0SoapBinding TestSuite" id="cbe4ef34-3cce-4381-8766-83dab4c12fdd" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="96c4e7db-bb62-4ec3-8cc2-329b6717b8a4fileName">AddressServiceV5_0SoapBinding-TestSuite</con:setting><con:setting id="cbe4ef34-3cce-4381-8766-83dab4c12fddfileName">AddressServiceV5_0SoapBinding-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="3801e45a-ec31-4686-9cbf-01651b8a4315"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="6b0cf27d-4452-476c-b08b-8662a8c7e039"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>