<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="HonkandFlashService TestSuite" id="1a1ca59b-f411-43b1-88b7-b2451e713cf2" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [InvokeFlashLightsSync]</con:description><con:settings><con:setting id="c7649ec8-7716-4446-a9f6-7fc5f97311fbfileName">HonkandFlashService-TestSuite</con:setting><con:setting id="1a1ca59b-f411-43b1-88b7-b2451e713cf2fileName">HonkandFlashService-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>